@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <main> <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> 
            <div class="col"> <div class="card h-100 shadow-sm">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc2TBEZeQm8oPNkcJMzlQNDCwHW852Wnvnig&s" class="card-img-top h-50" alt="...">
                        <div class="card-body"> <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Big Room</span> <span class="float-start badge rounded-pill bg-success">2000.00&euro;</span> </div> <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5> <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> </div>
                    </div>
                </div> <div class="col"> <div class="card h-100 shadow-sm">
                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/64/e8/8a/five-lakes-resort.jpg?w=600&h=-1&s=1" class="card-img-top h-50" alt="..."> <div class="card-body"> <div class="clearfix mb-3"><span class="float-start badge rounded-pill bg-primary">Large Room</span> <span class="float-start badge rounded-pill bg-success">1500.00&euro;</span> </div> <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5> <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> </div>
                    </div>
                </div> <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0a/e4/d3/fb/photo3jpg.jpg" class="card-img-top h-50" alt="...">  <div class="card-body"> <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Mediam Room</span> <span class="float-start badge rounded-pill bg-success">1000.00&euro;</span> </div> <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5> <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div> </div>
                    </div>
                </div> <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://images.trvl-media.com/lodging/1000000/520000/519100/519079/74e6da5d.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill" class="card-img-top h-50" alt="..." >
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Small Room</span> <span class="float-start badge rounded-pill bg-success">500.00&euro;</span> </div> <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5> <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> <div class="clearfix mb-1">
                                <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end">
                    <i class="fas fa-plus">

</i>
</span>  
</div> 
</div>
</div> 
</div> 
</div> 
</div> 
</main>
</div>
