
@{
    ViewData["Title"] = "DElete";
}

   <div class="container">
    <div class="alert  
 alert-success mt-5" role="alert">
        <h4 class="alert-heading">DElete Successful!</h4>
        <p>The category has been deleted successfully.</p>
        <hr>
        <p class="mb-0">You can return to the home page.</p>
        <a  class="btn btn-primary"  asp-action="Index" asp-controller="Home">Go to Home Page</a>
    </div>
</div>


<script>
    $(document).ready(function(){
       
        $('.alert').fadeIn(1000);
    });
</script>

