<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="height: 100px; background-color: burlywood; font-size: 40px">Header</div>
    <div style="height: 200px; background-color: darkcyan; font-size: 40px">
        @RenderBody()
    </div>
    <div style="height: 50px; background-color: burlywood; font-size: 40px">Footer</div>
</body>
</html>